* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Roboto", sans-serif;
  }
  
  header p {
    background: #1cd1b0;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 18px;
    text-align: left;
    color: #000000;
    height: 5%;
    padding-left: 1%;
  }
  .headuno {
    display: flex;
    align-items: center;
    background: #00669f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  header h1 {
    margin-left: 2%;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
    color: #ffffff;
  }
  .headdos {
    display: flex;
    justify-content: flex-end;
    background: #001d2d;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-right: 1%;
  }
  header a {
    text-align: center;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;
    padding-right: 2%;
    color: #ffffff;
    text-decoration: none;
  }
  .inicio{
    text-align: right;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;
    text-decoration: none;
    width: 90%;
    margin-left: 78%;
  }
  main {
    display: flex;
    justify-content: center;
    margin: 8%;
  }
  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-left: 5%;
    border-radius: 2% 2% 0% 0%;
    height: 28rem;
    width: 20rem;
    position: relative;
    background: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  .batman {
    background-image: url("../img/fondobatman.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  .corazon {
    position: absolute;
    width: 7%;
    left: 5%;
    top: 3%;
  }
  .cara {
    border-radius: 50%;
    margin-top: 35%;
  }
  main h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 35px;
    text-align: center;
    color: #000000;
  }
  main p {
    font-style: normal;
    font-weight: normal;
    font-size: 0.9rem;
    line-height: 19px;
    color: #333333;
    padding: 4%;
  }
  main button {
    background: #00669f;
    width: 40%;
    height: 10%;
    margin-bottom: 2%;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 18px;
    text-align: center;
    color: #f3f3f3;
  }
  #mas {
    background: #00669f;
    border-radius: 50%;
    width: 60px;
    height: 50px;
    margin-top: 13rem;
    margin-left: 2rem;
  }
  .HarleyQuinn {
    background-image: url("../img/fondoharley.png");
    background-size: contain;
    background-repeat: no-repeat;
  }
  footer {
    background: #00669f;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 19px;
    text-align: center;
    color: #fff9f9;
    padding: 1.8%;
    margin: 0%;
  }
  form {
    display: flex;
    flex-direction: column;
    width: 645.32px;
    height: 633.79px;
    justify-content: space-around;
    padding-right: 2%;
  }
  label {
    font-style: normal;
    font-weight: bold;
    font-size: 2.8rem;
    line-height: 72px;
    color: #333333;
  }
  input {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 25px;
    color: #000000;
    padding-left: 1%;
    width: 620px;
    height: 50px;
  }
  textarea {
    width: 620px;
  }
  .btn {
    display: flex;
    justify-content: space-between;
    width: 620px;
  }
  .btn button {
    border-radius: 23.011px;
    width: 300px;
    height: 3rem;
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 44px;
    text-align: center;
  }
  .btnreset {
    color: #ffffff;
    background: #888888;
  }
  .btnsubmit {
    color: #000000;
    background-color: #1cd1b0;
  }
  select {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 25px;
    color: #000000;
    padding-left: 1%;
    width: 620px;
    height: 50px;
  }
  form p {
    font-style: normal;
    font-weight: normal;
    font-size: 21.4769px;
    line-height: 28px;
    text-align: center;
    color: #222222;
  }
  form a {
    text-decoration: none;
  }
  .ingreso .btn {
    display: flex;
    justify-content: center;
  }
  .ingreso {
    display: flex;
    flex-direction: column;
    width: 621.12px;
    height: 428px;
    justify-content: space-around;
    padding-right: 2%;
  }
  .ingreso a {
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 28px;
    text-align: left;
    color: #00669f;
  }
  .ingreso p{
    font-family: "Karla", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 28px;
    text-align: left;
  }