*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#pagina{
    width: 100%;
}
header{
    width: 100%;
}
.Contactos{
    width: 100%;
    height: 15vw;
    background-color: #3C2313;
    color:white;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5vw;
    padding-left: 3vw;
}
.contactos1{
    width: 50%;
}
.contactos2{
    width: 50%;
    text-align: end;
}
.logomarron{
    width: 25%;
}
.contact{
    display: flex;
    flex-direction: row;
    margin-top: 1vw;
}
.contact div{
    padding-top: 0.3vw;
    padding-left: 1vw;
    color: grey;
    font-size: 0.5vw;
}
.titulocontac{
    font-size: 1vw;
    color: white;
}
.iconos{
    width: 8%;
}
#Derechos{
    width: 100%;
    height: 2vw;
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 0.5vw;
    font-size: 1vw;
}
#Menu1{
    width: 100%;
    height: 1.8vw;
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding-left: 12vw;
    padding-right: 3vw;
    font-size: 0.8vw;
    align-items: center;
}
#menu2{
    width: 100%;
    height: 5vw;
    background-color: #F0A83E;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 2vw;
    font-size: 1vw;
}
#menu2 img{
    width: 15%;
}
.fondo1{
    background-image: url(../img/Fondo.png);
    background-size: 100%;
    width: 100%;
    height: 39.5vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #3C2313;
}
#titulo{
    width: 35%;
    height: 4vw;
    border-radius: 0.2em;
    padding-top: 0.1%;
    text-align: center;
    font-size: 2.8vw;
    background-color: white;
    margin-right: 1vw;
    margin-bottom: 0.8vw;
}
.centronegrita{
    font-size: 1.1vw;
    text-align: center;
    margin-right: 11.5vw;
    margin-bottom: 0.8vw;
}
.centro{
    text-align: center;
    color: white;
    border-radius: 12px;
    background-color: #F0A83E;
    padding-top: 0.8%;
    width: 12%;
    height: 3vw;
    font-size: 1.2vw;
    margin-right: 11.5vw;
}
.bodyproductos{
    width: 100%;
    height: 20vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2vw;
    color: grey;
}
.patita{
    width: 6%;
}
.negritatitulo{
    font-weight: bold;
    font-size: 4vw;
    color: #3C2313;
}
#menuregional{
    display: flex;
    width: 10%;
    justify-content: space-around;
}
#grandes{
    width: 80%;
}
#menuprincipal{
    width: 30%;
    display: flex;
    justify-content: space-around;
}
.productos1{
    width: 100%;
    display: flex;
    justify-content: center;
    height: 30vw;
    text-align: center;
    font-size: 1vw;
}
.img{
    width: 100%;
}
.subproductos{
    width: 22%;
    height: 85%;
    background-color: #FBFAF6;
    margin-left: 1vw;
    margin-right: 1vw;
    color: #3C2313;
}
.contactanos{
    width: 100%;
    height: 22vw;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.titulocontactanos{
    font-size: 2vw;
    color: #3C2313;
    font-weight: bold;
}
.fill{
    color: white;
    background-color: #3C2313;
    width: 25%;
    height: 2vw;
    margin-top: 1vw;
    border-radius: 12px;
    padding-top: 0.7vw;
    padding-left: 1vw;
    font-size: 0.5vw;
}
.botones{
    width: 25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 3vw;
    padding-bottom: 2vw;
}
.reset{
    width: 25%;
    height: 2vw;
    background-color: grey;
    color: white;
    border-radius: 12px;
    text-align: center;
    padding-top: 0.5vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    font-size: 1vw;
}
.send{
    width: 25%;
    height: 2vw;
    background-color: #F0A83E;
    color: white;
    border-radius: 12px;
    text-align: center;
    padding-top: 0.5vw;
    margin-right: 0.5vw;
    margin-left: 0.5vw;
    font-size: 1vw;
}
.barrasub{
    width: 100%;
    height: 3.5vw;
    background-color: #F0A83E;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.subnovedades{
    color: white;
    font-size: 1.2vw;
    padding-left: 1vw;
    padding-top: 0.8vw;
    width: 50%;
    height: 100%;
}
.subnovedades img{
    width: 5%;
}
.ingresamail{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2.5vw;
}
.fillmail{
    background-color: white;
    color: grey;
    width: 60%;
    height: 2.3vw;
    font-size: 0.8vw;
    padding-top: 0.7vw;
    padding-left: 0.8vw;
    margin: 0.5vw;
    border-radius: 12px;
}
.subbutton{
    background-color: #3C2313;
    color: white;
    width: 12%;
    height: 2.1vw;
    font-size: 0.8vw;
    padding-top: 0.6vw;
    margin: 0.5vw;
    border-radius: 12px;
    text-align: center;
}
#menu2 #bars{
    display: none;
}
@media (max-width:480px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }
    #pagina{
        width: 100%;
    }
    header{
        width: 100%;
    }
    .Contactos{
        width: 100%;
        height: 60vw;
        background-color: #3C2313;
        color:white;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 5vw;
        padding-left: 3vw;
    }
    .contactos1{
        width: 50%;
        height: 45vw;
    }
    .contactos2{
        padding-top: 3vw;
        width: 30%;
        text-align: end;
        order: -1;
    }
    .logomarron{
        width: 100%;
    }
    .contact{
        display: flex;
        flex-direction: row;
        margin-top: 1vw;
    }
    .contact div{
        padding-top: 0.3vw;
        padding-left: 1vw;
        color: grey;
        font-size: 2vw;
    }
    .titulocontac{
        font-size: 4.5vw;
        color: white;
    }
    .iconos{
        width: 30%;
    }
    #Derechos{
        width: 100%;
        height: 5vw;
        background-color: black;
        color: white;
        text-align: center;
        padding-top: 0.5vw;
        font-size: 3vw;
    }
    #Menu1{
        display: none;
    }
    #menu2{
        width: 100%;
        height: 10vw;
        background-color: #F0A83E;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5vw;
        padding-right: 5vw;
        font-size: 1vw;
    }
    #menu2 img{
        width: 30%;
    }
    .cuerpo{
        width: 100%;
    }
    .fondo1{
        background-image: url(../img/Fondo.png);
        background-size: 200%;
        width: 100%;
        height: 80vw;
        display: flex;
        background-repeat: no-repeat;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #3C2313;
    }
    #titulo{
        width: 80%;
        height: 10vw;
        border-radius: 0.2em;
        padding-top: 1vw;
        text-align: center;
        font-size: 6vw;
        background-color: white;
        margin-right: 1vw;
        margin-bottom: 0.8vw;
    }
    .centronegrita{
        font-size: 3vw;
        text-align: center;
        align-self: flex-end;
    }
    .centro{
        text-align: center;
        color: white;
        border-radius: 12px;
        background-color: #F0A83E;
        padding-top: 3vw;
        width: 30%;
        height: 10vw;
        font-size: 3vw;
        margin-right: 11.5vw;
        align-self: flex-end;
    }
    .bodyproductos{
        width: 100%;
        height: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        font-size: 3vw;
        color: grey;
    }
    .patita{
        width: 20%;
    }
    .negritatitulo{
        width: 30%;
        text-align: center;
        font-weight: bold;
        font-size: 6vw;
        color: #3C2313;
    }
    #menuregional{
        display: flex;
        width: 10%;
        justify-content: space-around;
    }
    #grandes{
        width: 80%;
    }
    #menuprincipal{
        display: none;
    }
    #menu2 #bars{
        display: flex;
        width: 5vw;
        height: 5vw;
    }
    .productos1{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        height: 220vw;
        text-align: center;
        font-size: 2.5vw;
    }
    .img{
        width: 100%;
    }
    .subproductos{
        width: 60%;
        height: 120vw;
        background-color: #FBFAF6;
        margin-top: 2vw;
        margin-bottom: 2vw;
        color: #3C2313;
        align-self: center;
    }
    .contactanos{
        width: 100%;
        height: 60vw;
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .titulocontactanos{
        font-size: 10vw;
        color: #3C2313;
        font-weight: bold;
        margin-bottom: 2vw;
    }
    .fill{
        color: white;
        background-color: #3C2313;
        width: 75%;
        height: 8vw;
        margin-top: 1vw;
        border-radius: 12px;
        padding-top: 3vw;
        padding-left: 1vw;
        font-size: 2vw;
    }
    .botones{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top: 3vw;
        padding-bottom: 2vw;
    }
    .reset{
        width: 45%;
        height: 8vw;
        background-color: grey;
        color: white;
        border-radius: 12px;
        text-align: center;
        padding-top: 1.5vw;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
        font-size: 4vw;
    }
    .send{
        width: 45%;
        height: 8vw;
        background-color: #F0A83E;
        color: white;
        border-radius: 12px;
        text-align: center;
        padding-top: 1.5vw;
        margin-right: 0.5vw;
        margin-left: 0.5vw;
        font-size: 4vw;
    }
    .barrasub{
        width: 100%;
        height: 20vw;
        background-color: #F0A83E;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .subnovedades{
        color: white;
        font-size: 5vw;
        padding-left: 3vw;
        padding-top: 3vw;
        width: 100%;
        height: 100%;
    }
    .subnovedades img{
        width: 8%;
    }
    .ingresamail{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 5vw;
        padding-right: 5vw;
        margin-right: 2.5vw;
        margin-bottom: 3vw;
    }
    .fillmail{
        background-color: white;
        color: grey;
        width: 70%;
        height: 8vw;
        font-size: 2.5vw;
        padding-top: 2.5vw;
        padding-left: 3vw;
        margin: 0.5vw;
        border-radius: 12px;
    }
    .subbutton{
        background-color: #3C2313;
        color: white;
        width: 30%;
        height: 8vw;
        font-size: 3vw;
        padding-top: 2vw;
        margin: 0.5vw;
        border-radius: 12px;
        text-align: center;
    }
}