header{
    background-color: #E5E5E5;
}
header img{
    display:block;
    margin-left: auto;
    margin-right: auto;
}
header h1{
    text-transform: uppercase;
    text-align: center;
    color: #005677;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 84.69%;

}

section h2{
    background-color: #c4c4c4;
    color: #005677;
    text-transform: uppercase;
    font-family: Times New Roman;
    font-style: normal;
    font-weight: bold;
}

span{
    font-family: Times New Roman;
    font-weight: bold;
    font-style: italic;
}

footer{
    background-color: #005677;
}
footer p{
    text-align: center;
    color:white;
}