*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
#bnaranja{
    width: 100%;
    height: 4vw;
    background-color: #D1891C;
    font-size: 3vw;
    padding-left: 10px;
    font-weight: bold;
}
#bazul{
    width: 100%;
    height: 15vw;
    background-color: #00669F;
    color: white;
    font-size: 4vw;
    padding-top: 18px;
    padding-left: 10px;
}
footer{
    width: 100%;
    height: 20vw;
    background-color: #00669F;
    color: white;
    padding-top: 3vh;
    text-align: center;
    font-size: 3vw;
}
footer span{
    font-weight: bold;
    font-size: 4vw;
}
article{
    display: flex;
    flex-direction: column;
    align-items: center;
}
article section{
    width: 42%;
    display: flex;
    border-radius: 5%;
    flex-direction: column;
    align-items: center;
    font-size: 2vw;
    text-align: center;
    background-color:#F3F3F3;
    margin-top: 3%;
    margin-bottom: 3%;
}
div img{
    width: 100%;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
div .foto{
    width: 33%;
    border-radius: 50%;
    position: relative;
}
div .heroe{
    font-size: 3vw;
    margin-bottom: 5%;
    margin-top: 5%;
}
div p{
    padding-left: 3%;
    padding-right: 3%;
}
.boton{
    width: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
    border-radius: 10%;
    background-color: #00669F;
    color: white;
    margin-top: 5%;
    margin-bottom: 8%;
    font-size: 2vw;
}
@media (min-width: 481px){
    #bnaranja{
        width: 100%;
        height: 2vw;
        background-color: #D1891C;
        font-size: 1.8vw;
        padding-left: 10px;
        font-weight: bold;
    }
    #bazul{
        width: 100%;
        height: 9vw;
        background-color: #00669F;
        color: white;
        font-size: 3vw;
        padding-top: 2vh;
        padding-left: 10px;
    }
    footer{
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        background-color: #00669F;
        color: white;
        justify-content: space-around;
        align-items: center;
        padding-left: 20%;
        padding-bottom: 2vh;
    }
    footer span{
        font-weight: bold;
        font-size: 3.5vw;
    }
    article{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
    article section{
        width: 30%;
        border-radius: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5vw;
        text-align: center;
        background-color:#F3F3F3;
        margin-top: 3%;
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 3%;
    }
    div img{
        width: 100%;
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
    }
    div .foto{
        width: 33%;
        position: relative;
        top: 100%;
        border-radius: 50%;
    }
    div .heroe{
        font-size: 2vw;
        margin-bottom: 5%;
        margin-top: 5%;
    }
    div p{
        padding-left: 3%;
        padding-right: 3%;
    }
    .boton{
        width: 40%;
        padding-top: 5%;
        padding-bottom: 5%;
        border-radius: 10%;
        background-color: #00669F;
        color: white;
        margin-top: 5%;
        margin-bottom: 8%;
        font-size: 1.5vw;
    }

}